*,
*::before,
*::after{
    box-sizing:border-box;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight:300;
    font-size:80px;
    color:#fff;
}


a{
    text-decoration: none;
    outline:none;
}


.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color:#000;

}

.main{
    flex: 1 0 auto;
}

.footer{
    flex: 0 0 auto;
}



.container{
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 15px;
}


/*PRELOADER*/

.pagePreloader{
    height: 100vh;
    width:100vw;
    position:fixed;
    top: 0;
    left: 0;
    background-color:#000;
    z-index: 1000;
    transition: .8s;

}


.preloader__flex{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;

}

.preloader__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 200px;
    font-size:30px;
    opacity:0;
    transition: .9s;
    transform: translateY(-30px);
    animation: 5s ease-in infinite 2s spinning;
}

.preloader__content.active{
    opacity:1;
    transform: translateY(0);
}

.preloader__logo img{
    max-width:100%;
}

.preloaderText .new { opacity: 0; }
.preloaderText {
   opacity:0;
}
.preloaderText .div_opacity {
    transition: opacity .3s;
    opacity: 1;
}

.pagePreloader.done{
    opacity:0;
    visibility: hidden;
}


@keyframes spinning {
    from {
        opacity:1;
    }

    50%{
        opacity: 0;
    }

    to{

        opacity:1;
    }
}



/* HEADER */

.header{

    background: url("../images/intro_background.jpg") center no-repeat;
    background-size: cover;
    box-shadow: inset 0 4px 200px 100px #000000;
    position:relative;
    min-height:1150px;
    margin-bottom: 270px;

}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;

    transition:1s;
    opacity:0;
}

.header__top._active{
    opacity:1;
}

.header__logo{
    flex: 0 0 313px;
    position:relative;

}

.header__logo:after{
    content:"cеть барбершопов";
    font-family: 'Alegreya Sans SC', sans-serif;
    color:#fff;
    font-size:24px;
    font-weight:300;
    line-height: 2;

    position:absolute;
    bottom: -18px;
    left: 120px;
    z-index: 1;
}

.header__nav{
    flex: 0 0 619px;
    display: flex;
    justify-content: space-between;
}

.nav__item{
    font-size: 48px;
    color:#fff;
    font-weight:500;
    line-height:1.3;
    position:relative;
}

.nav__item::after{
    content:"";
    width:100%;
    border-bottom: 2px solid #fff;
    position:absolute;
    bottom: 3px;
    left: 0;
    z-index: 1;
    opacity:0;
    transition: .5s;
}

.nav__item:hover.nav__item::after{
    opacity:1;
}

.header__burger{
    display: none;
}


.header__content{
    width:100%;
}

.header__button{
    position:absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);

}
.header__button button{
    padding: 23px 23px 0 23px;
    background: transparent;
    color:#fff;
    border: 1px solid #fff;
    border-radius: 15px;
    transition:  .4s;


    cursor:pointer;

}



.header__button-text{
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    font-size:48px;
    line-height: 1;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    text-orientation: upright;


}



.header__button button:hover{

    transform: translateX(11%);
}



/* SERVICES */

.services{
    background: url("../images/services_background.jpg") top center no-repeat;
    background-size: cover;
    box-shadow: inset 0 4px 200px 100px #000000;
    margin-bottom: 30px;
}



.services{
    font-weight:300;
    font-size:80px;
    color:#fff;
}

.services__title{
    font-weight:300;
    padding-bottom: 91px;
    padding-top: 65px;

    transition: 1s;
    opacity:0;
    transform:translateY(30px);

}

.services__title._active{
    opacity:1;
    transform:translateY(0);
}

.services__wrapper{
    padding-bottom: 550px;
}

._active .services__item{
    opacity:1;
    transform:translateY(0);
}

.services__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    transition: 1s;
    transition-delay:.3s;
    opacity:0;
    transform:translateY(50px);

}


.services__item p:first-child{
    padding-right: 20px;
}

/* GALLERY */

.gallery{
    margin-bottom: 240px;
}

.gallery__title{
    font-size:80px;
    font-weight:300;
    line-height:1.2;
    max-width: 1410px;
    width:100%;
    margin: 310px auto 50px;
    padding: 0 15px;

    transition: 1s;
    opacity:0;
    transform:translateY(30px);

}

.gallery__title._active{
    opacity:1;
    transform:translateY(0);
}


.gallery__wrapper{
    display: flex;
    flex-wrap:wrap;
}

.gallery__item {
    flex: 0 0 33.333%;
    overflow:hidden;
    display: inline-block;

    transition: 1s;
    transition-delay:.2s;
    opacity:0;
    transform:translateY(20px);


}

._active .gallery__item{
    opacity:1;
    transform:translateY(0);
}

.gallery__item:nth-child(n+4){
    transition-delay:.6s;

}

.gallery__item img{
    width: 100%;
    height: auto;
    display: block;
    transition: .7s;


}
.gallery__item img:hover{
    transform: scale(1.1);
}


/* FOOTER */

.footer .container{
    background: url("../images/footer_background.jpg") top center no-repeat;
    background-size: cover;
    box-shadow: inset 5px 0 200px 181px #000000;
}
.footer__content{
    padding: 340px 0 236px;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size:60px;
    padding-bottom: 315px;
    line-height: 1.2;

}

.footer__item{
    flex: 0 0 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    transition:1s;
    opacity:0;
    transform:translateY(30px);

}

.footer__item:nth-child(2){
    transition-delay:.4s;
}

._active .footer__item{
    opacity:1;
    transform:translateY(0);
}

.footer__item a{
    font-size:40px;

}


.footer__copyright{
    padding-top: 50px;
    font-size:60px;
    line-height: 1.2;
    font-weight:300;
    text-align: center;

    transition:1s;
    opacity:0;
    transform:translateY(25px);
}

.footer__copyright._active {
    opacity:1;
    transform:translateY(0);
}


/* MODAL */

.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.7);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    visibility: hidden;
    transition: .2s;

}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.popup {
    width: 500px;
    max-width: 100%;
    min-height: 400px;
    padding: 30px 15px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    position:relative;
    border-radius: 5%;
}



.close__popup {
    position: absolute;
    top: .8rem;
    right: 2rem;
    cursor:pointer;
    font-size: 36px;
    font-weight: 400;
    color:#000;
}

.popup__content {
    width: 100%;
}

.popup__content-title {
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
    color:#000;

}

.popup__content-title h2{
    margin:0;
    color:inherit;
    font-size:inherit;
    font-weight: 400;
}

.form{
    padding:30px 40px 0;
    color:#000;
}

.form__control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position:relative;
    color:#000;
}

.form__control label{
    display: inline-block;
    margin-bottom: 5px;
    font-size:26px;
    font-weight: 400;
    color:#000;
}
.form__control input{
    border:2px solid #4a4a4a;
    border-radius: 4px;
    display: block;
    background-color:#fff;
    width: 100%;
    padding:10px;
    font-size: 20px;
    font-family:inherit;
    color:#000;
    outline:none;
}

.form__control small{
    position:absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    color: #e74c3c;
}

.form button{
    background-color: #000;
    border:none;
    border-radius:5px;
    color:#fff;
    font-size:30px;
    width:100%;
    padding:10px;
    cursor:pointer;
    margin-top: 30px;

}

.form__control.error input{
    border-color: #e74c3c
}
.form__control.error small{
    visibility: visible;
}








/* ADAPTIVE */

@media (max-width:1250px){
    .services{
        font-size:6vw;
    }
}

@media (max-width:1150px) {
    .header__nav{
        flex-basis:520px;
    }
    .nav__item{
        font-size:42px;
    }


    .gallery__item{
        flex:unset;
        width:50%;
    }

    .footer__wrapper{
        font-size: 50px;
    }
    .footer__item a{
        font-size:36px;
    }

    .footer__copyright{
        font-size:45px;
    }
}

@media (max-width:950px){

    .footer__copyright{
        font-size:35px;
    }

    .header__top{
        position:unset;
    }

    .header__logo{
        z-index: 5;
    }

    .header__burger{
        position: relative;
        display: block;

        width: 45px;
        height: 30px;
        right: 0;
        z-index: 5;
        cursor: pointer;
    }

    .header__burger span{
        position:absolute;
        background-color:#fff;
        left: 0;
        width: 100%;
        height: 4px;
        top: 13px;
        border-radius:2px;
        transition: .2s
    }

    .header__burger:before,
    .header__burger:after{
        content: ' ';
        position:absolute;
        background-color:#fff;
        width: 100%;
        height: 4px;
        border-radius:2px;
        transition: .4s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }

    .header__burger.active span{
        transform:rotate(-45deg);
    }
    .header__burger.active::before{
        transform:rotate(45deg);
        top:14px;
    }
    .header__burger.active::after{
        bottom: 50%;
        transform:rotate(45deg);
        opacity:0;
    }

    .header__nav{

        background-color: rgba(0,0,0,.9);

        position:absolute;
        transform:translateY(-100%);
        transition: .5s;

        top: 0;
        left: 0;
        z-index: 3;
        max-width:100%;
        width: 100%;
        padding-top: 100px;

    }

    .nav__item{
        text-align: center;
        font-size:38px;
        width: 100%;
        padding: 50px 15px 100px;
    }

    .header__nav.active{
        transform:translateY(0);
    }

}


@media (max-width:750px){
    .footer__content{
        padding-bottom: 40px;
    }
    .footer__wrapper{
        font-size: 40px;
        flex-direction: column;
        padding-bottom: 0;
    }
    .footer__item{
        flex-basis:260px;
    }
    .footer__item a{
        font-size:30px;
    }

    .footer__copyright{
        font-size:30px;
    }
}

@media (max-width:500px){
    .gallery__item{
        width:100%;
    }
    .gallery__title{
        font-size:50px;
    }

    .services{
        font-size:32px;
    }
    .header{
        min-height:600px;
    }
     .header__button{
         left: 50%;
         top: 90%;
         transform: translateX(-50%);
         width:300px;
         max-width:100%;
         padding: 0 25px;

     }

     .header__button button{
         font-size: unset;
         padding-bottom: 18px;
         max-width: 100%;
         width: 100%;
     }

    .header__button button:hover{

        transform: translateX(0) translateY(-11px);
    }


     .header__button-text{
         font-size:36px;
         text-transform: none;
         writing-mode: unset;
         -webkit-writing-mode: unset;
         text-orientation: unset;
     }

}


@media (max-width:460px){
    .services__item{
        flex-direction: column;
        text-align: center;
    }

    .services__title{
        font-size:50px;
    }



    .header__logo img{
        max-width:100%;
    }
    .header__logo{
        flex-basis:70%;
    }
    .header__logo::after{
        width:100%;
        left:20px;
        font-size:20px;
    }

    .nav__item{
        font-size:30px;
    }

    .services__wrapper{
        padding-bottom: 410px;
    }


    .footer__content{
        padding-top: 255px;
    }

    .footer .container{
        box-shadow: inset 4px 2px 127px 117px #000000;
    }

}

@media (max-width:400px){
    .header__logo::after{
        width:200px;
    }
    .nav__item{
        font-size:25px;
    }
    .close__popup{
        top: .5rem;
    }

    .header__button-text{
        font-size:30px;
    }
    .header{
        box-shadow: inset 0 0 200px 60px #000000;
    }
}

@media(max-width:370px){
    .nav__item{
        font-size:20px;
    }

    .form small{
    bottom:-15px;
    }
}

@media (max-width:300px) {
    .footer__item a{
        font-size:25px;
    }
    .nav__item{
        font-size:15px;
    }

}
